<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title layout:title-pattern="$CONTENT_TITLE - Member Management System">MMS</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="wrapper">

  <header class="header">
    <div th:replace="~{fragments/header :: header}"></div>
  </header>

  <div class="admin-layout" style="flex: 1;">

    <aside class="sidebar">
      <div th:replace="~{fragments/sidebar-client :: sidebar}"></div>
    </aside>

    <main class="main-content" layout:fragment="content">
    </main>

  </div>

  <footer>
    <div th:replace="~{fragments/footer :: footer}"></div>
  </footer>

</div>

</body>
</html>